* {
    font-family: Montserrat, sans-serif;
    padding: 0em;
}

.bi-grid {
    color: orange;
}

#map {
    height: 80vh;
    width: 100vw;
    padding: 0;
}
/* 
#booksSearchResult {
    max-height: 150px; */
    /* display: none;
} */