body {
    
    background-image: linear-gradient(to right top, #99bbcb, #a5c7d7, #b1d4e2, #bde0ee, #c9edfa);
     /* background-image: linear-gradient(to right top, #406c94, #6393a4, #62949a, #4c6972, #c5f0f7); */
     /* background-image: linear-gradient(to right top, #9be8ff, #5bc9ff, #00b8ff, #4a7bff, #feff50); */
     /* background-image: linear-gradient(to right top, #ff4e50, #ff713e, #ff932b, #ffb41d, #f9d423); */

}

h1 {
    margin: 0 auto;
    font-size: 2.2em;
    text-align: center;
    color: #fff;
    font-size: 5em;
}

.sunny, .cloudy,
.rainy, .clear {
    width: 300px;
    height: 100px;
    font-size: 25px;
    color: white;
    margin-bottom: 10px;
    background-color: #6c7c44;
    
}

.sunny {
    background-image: linear-gradient(to right top, #ff4e50, #ff713e, #ff932b, #ffb41d, #f9d423);
}
.cloudy {
    background-image: linear-gradient(to right top, #406c94, #6393a4, #62949a, #4c6972, #c5f0f7);
}
.rainy {
    background-image: linear-gradient(to right top, #141444, #6c7c44, #a0b6c4, #0e1a26, #95a1af);
}
.clear {
    background-image: linear-gradient(to right top, #9be8ff, #5bc9ff, #00b8ff, #4a7bff, #feff50);
}

#map-container {
    position: relative;
}

#map {
    height: 80vh;
    width: 100vw;
}

#search-container {
    position: absolute;
    z-index: 445624;
    min-width: 300px;
    min-height:50px;
    padding-top: 5px;
    padding-left: 60px;
}

/* #search-btn {
    
} */

#search-results {
    max-height: 300px;
    overflow-y: scroll;
    color: #0e1a26;
}